@import "../../assets/styles/main.scss";

.app {
  height: 100vh;
  color: $white;
  overflow-x: hidden;
  font-family: "TT Norms", Arial, Helvetica, sans-serif;
  background-image: url(../../assets/images/breaking-bad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.main {

}