@mixin zero {
  margin: 0;
  padding: 0;
  border: 0;
}

@mixin list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin menu-list {
  @include list;

  &>li:not(:last-child) {
    margin-bottom: 5px;
  }

  &>li>a {
    text-decoration: none;
  }
}

@mixin menu-title {
  margin: 0;
  padding: 0 0 10px 10px;

  font-size: 10px;
  font-weight: 100;
  color: #5a5858;
}
